<div class='new-race-box'>
  <h2 class='new-race-title'>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class='row'>
      <div class="field column medium-5 sign-up-field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name,  autocomplete: "off" %>
      </div>

      <div class="field column medium-5 sign-up-field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name,  autocomplete: "off" %>
      </div>
    </div>

    <div class='row'>
      <div class="field column medium-5 sign-up-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field column medium-5 sign-up-field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="field medium-7 form-center sign-up-email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'new-race-submit' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
