<h2>Create a new Race</h2>

<%= form_for(@race) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance,  autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price,  autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.number_field :description,  autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Race" %>
  </div>
<% end %>
